@import "~themes/variables.less";
@import "~themes/animation-mixins.less";

.layer{
  position:relative;
  /* note: padding-top and margin-top for layers is weird so that the shortcut menu jumps with the title in a nice place */;
  padding: 12rem 3rem;
}

.layer-listitem-link{
  margin-bottom:0;
}


.layer-title{
  position:relative;
  border:5px solid black;

  padding: 10rem 0rem;

  background-color:@color-white;
  border-radius: @border-radius-large;
  border: @border-thickness-medium solid @color-grey;
  box-shadow: @shadow-z3;
  padding:3rem;

}

.blorbgroup{
  ul{
    margin-top:1rem;
    padding-left:3rem;
  }
}

#region-top{
  .layer-title{
    h1{
      color:@color-white;
      -webkit-text-stroke: 1px @color-black;
      paint-order: stroke-fill;
      text-shadow:  3px 3px 0 @color-black, 
                    -1px -1px 0 @color-black, 
                    1px -1px 0 @color-black, 
                    -1px 1px 0 @color-black, 
                    1px 1px 0 @color-black;
    }
  }
}

#region-bottom{
  .layer-title{
    h1{
      color:@color-green;
      -webkit-text-stroke: 1px @color-black;
      paint-order: stroke-fill;
      text-shadow:  3px 3px 0 @color-black, 
                    -1px -1px 0 @color-black, 
                    1px -1px 0 @color-black, 
                    -1px 1px 0 @color-black, 
                    1px 1px 0 @color-black;
    }
  }
}



.layer-detail{
  border:5px solid black;

  margin:5rem 2rem 5rem 11rem;

  background-color:@color-white;
  border-radius: @border-radius-large;
  border: @border-thickness-medium solid @color-grey;
  box-shadow: @shadow-z3;
  padding:3rem;

  h2{
    padding-bottom: .5rem;
  }

  .layer-detail-headers{
    border-bottom:2px dashed black;
    // padding-bottom:1rem;
    position:relative;
  }

  .layer-detail-jumptop{
    opacity:.3;
    display:block;
    position:absolute;
    left:-.5rem;
    top:-3rem;
    // margin:0 auto;
    // width:100%;
    // text-align:center;

    cursor:pointer;

    color:@color-black;
    fill:@color-black;

    &:hover{
      // color:@color-white;
      // fill:@color-white;
      opacity:1;
    }

    p{
      display:inline-block;
      vertical-align:middle;
      font-size:1.5rem;
    }
    .icon-container{
      width:2.5rem;
      height:2.5rem;
      display:inline-block;
      vertical-align:middle;
    }
  }

}

.blorbgroup{
  border-top:.15rem dashed;
  // padding-top:1rem;

  &:first-child{
    border-top:none;
    padding:none;
  }
}

#region-top{
  .blorbgroup{
    border-top-color:green;
  }
}

#region-bottom{
  .blorbgroup{
    border-top-color:@color-white-dark;

  }
}

.blorb{
  display:inline-block;
  vertical-align:top;
  margin:1rem;

  &.mod-half{
    width:~"calc(50% - 2rem)";
  }
  &.mod-quarter{
    width:~"calc(25% - 2rem)";
  }
  &.mod-third{
    width:~"calc(33% - 2rem)";
  }
  &.mod-half{
    width:~"calc(50% - 2rem)";
  }
  &.mod-twothird{
    width:~"calc(66% - 2rem)";
  }
  &.mod-threequarter{
    width:~"calc(75% - 2rem)";
  }
  &.mod-full{
    width:100%;
  }

  &.blorb-image{
    border: @border-thickness-medium solid @color-white;
    box-shadow: @shadow-z3;

    &.mod-nostyle{
      border:none;
      box-shadow:none;
    }

    img{
      display:block;
      width:100%;
    }

    &.mod-active{
      img{
        
      }

      &:hover{
        cursor:pointer;
        border-width: 0rem;
        transition: border-width .2s;
      }
    }

  }

  &.blorb-text{
    p{
      margin-top:2rem;

      &:first-child{
        margin-top:0;
      }
    }
  }
}


.layer-detail{
  .layer-detail-body{
    
  }
}

.layer-title-text{
  // border-top:2px solid black;
  // margin-top:1rem;
  // padding-top:1rem;
}


.layer-listgroup{
  border-top:2px dashed @color-black;
  margin-top:1rem;
  padding-top:1rem;

  ul{
    margin:0;
    padding-left:3rem;
  }
  li{
    // line-height:2.25rem;
  }


}

.layer-listitem-link{
  color:@color-green;

  a{
    color:@color-green;
    fill:@color-green;
    &:visited{
      color: @color-green;
    }

    >*{
      display:inline-block;
      vertical-align:middle;
    }

    &:hover{
      color:@color-white;
      fill:@color-white;

      p{
        text-decoration:underline;
      }
    }
  }

  .icon-container{
    display:inline-block;
    vertical-align:middle;

    width:2.5rem;
    height:2.5rem;
    margin-left:1rem;
  }
}

#region-top{
  .layer{
    padding-left:24rem;
  }

  .layer-detail{
    margin:5rem 2rem 5rem 11rem;
  }
}

#region-bottom{
  .layer{
    padding-right:22rem;
    padding-top: 17rem;
  }

  .layer-detail{
    margin:5rem 11rem 5rem 2rem;
  }
}


.layer{
  &.theme-top{
    .layer-bubble{
      background-color:@color-blue;
      border:.5rem solid @color-grey;
    }

    .layer-listitem-link{
      color:@color-black;
      
      a{
        color:@color-black;
        fill:@color-black;
        &:visited{
          color: @color-black;
        }

        &:hover{
          color:@color-white;
          fill:@color-white;
        }
      }
    }

  }

  &.theme-bottom{
  }

  &.theme-vt{
    @theme-vt-color-maroon: #861f41;
    @theme-vt-color-orange: #e87722;
    @theme-vt-color-white: #ffffff;
    @theme-vt-color-grey: #75787b;
    @theme-vt-color-black: #231f20;

    background-color:@theme-vt-color-maroon !important;

    .layer-bubble{
      background-color:@theme-vt-color-orange !important;
      color:@theme-vt-color-black !important;
      border-color:@theme-vt-color-white !important;

      h1{
        color:@theme-vt-color-maroon !important;
      }
      h2{
        color:@theme-vt-color-white !important;
      }
      h3{
        color:@theme-vt-color-white !important;
      }
    }
  }

  &.theme-guitarapp{
    background-color:@color-black !important;

    .blorbgroup{
      border-top-color:@color-black !important;
    }

    .layer-bubble{
      background-color:@color-purple !important;
      color:@color-white !important;
      box-shadow: 0 0 40px @color-purple !important;
      border-color:@color-purple !important;

      h1{
      }
      h2{

      }
    }

    .layer-title{
      h1{
        -webkit-text-stroke: 1px @color-black;
        paint-order: stroke-fill;
        text-shadow:  3px 3px 0 @color-black, 
                      -1px -1px 0 @color-black, 
                      1px -1px 0 @color-black, 
                      -1px 1px 0 @color-black, 
                      1px 1px 0 @color-black;
      }
    }
  }
}


/* BIG DESKTOP */
@media (min-width: @breakpoint-desktop) {

  .layer-title{
    max-width:100rem;
  }
  .layer-detail{
    max-width:80rem;
  }

  #region-top{
    .layer{
      padding-left:30rem;
      padding-right:16rem;

      >div{
        margin-left:auto;
        margin-right:auto;
      }
    }

    .butler{
      left:4rem;
    }

  }

  #region-bottom{
    .layer{
      padding-left:16rem;
      padding-right:30rem;

      >div{
        margin-left:auto;
        margin-right:auto;
      }
    }

    .butler{
      right:7rem;
    }
  }
}



/* NORMAL STUFF HERE */



/* LARGE MOBILE */
@media (max-width: @breakpoint-mobile) {
  #region-top{
    .layer{
      padding-left:16rem;
      padding-top:16rem;
      padding-right:1rem;
    }

    .layer-detail{
      margin:3rem 1rem 3rem 6rem;
    }
  }
  #region-bottom{
    .layer{
      padding-right:16rem;
      padding-top:16rem;
      padding-left:1rem;
    }

    .layer-detail{
      margin:3rem 3rem 3rem 1rem;
    }
  }

  .layer-detail{
  }

  .layer-detail{
    .layer-detail-body{
    }
  }


  .blorb{
    &.mod-half{
      width:100%;
    }
    &.mod-third{
      width:100%;
    }
    &.mod-twothird{
      width:100%;
    }
    &.mod-quarter,.mod-threequarter{
      width:~"calc(50% - 2rem)";
    }
  }

}


/* TINY MOBILE */
@media (max-width: @breakpoint-lilmobile) {

  .layer-title{
    padding:1.5rem;
    border-radius: @border-radius-medium;
  }

  .layer-detail{
    padding-left:1.5rem;
    padding-right:1.5rem;
    padding-bottom:0;

    border-radius: @border-radius-medium;
  }

  .blorb{
    // margin:0 0 2rem 0;
    margin:0;
    margin-top:1rem;

    &:last-child{
      margin-bottom:2rem;
    }
  }

  #region-top{
    .layer{
      padding-left:9rem;
    }

    .layer-detail{
      margin:3rem 0rem 3rem 2rem;
    }

    .butler{
      left:-17rem;
    }
  }
  #region-bottom{
    .layer{
      padding-right:8rem;
    }

    .layer-detail{
      margin:3rem 2rem 3rem 0rem;
    }

    .butler{
      right:-16rem;
    }
  }


}
