@import "~themes/variables.less";

.layer{
  position:relative;
  /* note: padding-top and margin-top for layers is weird so that the shortcut menu jumps with the title in a nice place */;
  padding: 12rem 3rem;

  .layer-title-text{
    border-top:2px solid black;
    margin-top:1rem;
    padding-top:1rem;
  }
}

.layer-divider{
  @height-layerdivider:8rem;
  @height-layerdividercover: 16rem;

  height:@height-layerdivider;
  background-color:red;


  .layer-divider-body{
    position:absolute;
    height:@height-layerdividercover;
    margin-top:(@height-layerdividercover - @height-layerdivider) / -2;

    opacity:.5;
    width:100%;
    z-index:@zindex-layerdivider;

    border:.5rem dashed white;
    background-color:black;
  }
}


.layer-title{
  position:relative;
  border:5px solid black;

  padding: 10rem 0rem;


  background-color:@color-white;
  border-radius: @border-radius-large;
  border: @border-thickness-medium solid @color-grey;
  box-shadow: @shadow-z3;
  padding:3rem;
}


.layer-detail{
  border:5px solid black;

  margin:5rem 2rem 5rem 11rem;

  background-color:@color-white;
  border-radius: @border-radius-large;
  border: @border-thickness-medium solid @color-grey;
  box-shadow: @shadow-z3;
  padding:3rem;

  h2{
    padding-bottom: .5rem;
  }

  .layer-detail-headers{
    border-bottom:2px solid black;
    padding-bottom:1rem;
  }

}

.layer-detail{
  .layer-detail-body{
    .blorb{
      display:inline-block;
      vertical-align:top;
      margin:1rem;
      margin-bottom:3rem;

      &.mod-half{
        width:~"calc(50% - 2rem)";
      }
      &.mod-full{
        width:100%;
      }

      &.blorb-image{
        cursor:pointer;
        border: @border-thickness-medium solid @color-white;
        box-shadow: @shadow-z3;

        img{
          display:block;
          width:100%;
        }

        &:hover{
          border-width: 0rem;
          transition: border-width .2s;
        }
      }
    }
  }
}


#region-top{
  .layer{
    padding-left:24rem;
  }

  .layer-detail{
    margin:5rem 2rem 5rem 11rem;
  }
}

#region-bottom{
  .layer{
    padding-right:22rem;
    padding-top: 16rem;
  }

  .layer-detail{
    margin:5rem 11rem 5rem 2rem;
  }
}


.layer{
  &.theme-top{
    .layer-bubble{
      background-color:@color-blue;
    }
  }

  &.theme-bottom{
  }


  &.theme-guitarapp{
    background-color:@color-black;

    .layer-bubble{
      background-color:@color-purple;
      color:@color-white;
      box-shadow: 0 0 40px @color-purple;

      h1{
      }
      h2{

      }
    }
  }
}



@media (max-width: @breakpoint-mobile) {
  #region-top{
    .layer{
      padding-left:16rem;
      margin-top:12rem;
      padding-top:4rem;
    }

    .layer-detail{
      margin:3rem 1rem 3rem 8rem;
    }
  }
  #region-bottom{
    .layer{
      padding-right:16rem;
      padding-top:16rem;
    }

    .layer-detail{
      margin:3rem 8rem 3rem 1rem;
    }
  }

  .layer-detail{
  }

  .layer-detail{
    .layer-detail-body{
      .blorb{
        &.mod-half{
          width:100%;
        }
      }
    }
  }

}
