@import "~themes/variables.less";

.layer{
  position:relative;
  border:5px solid black;

  padding: 5rem 3rem;
}

#region-top{
  .layer{
    padding-left:24rem;
  }

  .layer-bubble{
    background-color:@color-blue;
  }

  .layer-detail{
    margin:5rem 2rem 5rem 11rem;
  }
}

#region-bottom{
  .layer{
    padding-right:22rem;
    padding-top:14rem;
    padding-bottom:0rem;
  }

  .layer-detail{
    margin:5rem 11rem 5rem 2rem;
  }
}


.layer-title{
  position:relative;
  border:5px solid black;

  padding: 10rem 0rem;


  background-color:@color-white;
  border-radius: @border-radius-large;
  border: @border-thickness-medium solid @color-grey;
  box-shadow: @shadow-z3;
  padding:3rem;
}


.layer-detail{
  border:5px solid black;

  margin:5rem 2rem 5rem 11rem;

  background-color:@color-white;
  border-radius: @border-radius-large;
  border: @border-thickness-medium solid @color-grey;
  box-shadow: @shadow-z3;
  padding:3rem;
}