@import "~themes/variables.less";

@blob-bar-background: url("~images/dividers/blackblob1.png") repeat-x;
@blob-bar-height: 13rem;
@blob-bar-offset: 12rem;
@blob-bar-width: 1390px;
@blob-bar-scale: 1;


.nav-bar{
  z-index:@zindex-middle;
  width:100%;
  height:20rem;
  background-color:@color-black;
  position:relative;

  &:hover{
    box-shadow:10px 10px 10px green;
  }

  .nav-bar-text{
    padding-top:1rem;
    padding-left:3rem;

    h1{
      color:@color-blue;
      margin-bottom:0;
    }
    h2{
      color:@color-white;
      margin-bottom:0;
    }
  }

  .nav-bar-buttons{

  }

  .nav-bar-button{
    display:inline-block;
    vertical-align:middle;

    margin:1rem 1rem 1rem 0rem;
    width:4rem;
    height:4rem;

    cursor:pointer;
    fill:@color-grey;
    transition: fill .3s;

    &:hover{
      fill:@color-green;
      transition: fill .3s;
    }

    &.mod-linkedin{
      padding: .5rem;
      padding-left:0;
      padding-top: 0;
    }
  }



  .nav-bar-slide{
    @blob-bar-scale: 1;
    background: @blob-bar-background;
    background-size: auto 100%;
    height: calc(@blob-bar-scale * @blob-bar-height);
    width: calc(@blob-bar-scale * 3 * @blob-bar-width);
    position:absolute;
    pointer-events:none;
    z-index:-1;

    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: normal;

    @keyframes slideleft {
      from {
        left: 0px;
      }
      to {
        left: calc(@blob-bar-scale * -@blob-bar-width);
      }
    }

    &.mod-top{
      left:0px;
      top: calc(@blob-bar-scale * -@blob-bar-offset);

      animation-name: slideleft;
    }


    @keyframes slideright {
      from {
            left: calc(@blob-bar-scale * -@blob-bar-width);
      }
      to {
        left: 0px;
      }
    }

    &.mod-bottom{
      left: calc(@blob-bar-scale * -@blob-bar-width);
      bottom: calc(@blob-bar-scale * -@blob-bar-offset);
      animation-name: slideright;

      -moz-transform: scaleY(-1);
      -o-transform: scaleY(-1);
      -webkit-transform: scaleY(-1);
      transform: scaleY(-1);
      filter: FlipV;
      -ms-filter: "FlipV";
    }

  }

}


/* Top and bottom specific stuff */

.curregion-top{
  .nav-bar{
    position:fixed;
    bottom:0;
    height:12rem;
    .mixin-tiny-nav-slide;
  }
}

.curregion-middle{
  .nav-bar{
    position:absolute;
    height:20rem;
    margin-top:-10rem;

    .nav-bar-text{
      position:absolute;
      top:50%;
      transform:translateY(-50%);
    }
  }
}

.curregion-bottom{
  .nav-bar{
    position:fixed;
    top:0;
    height:12rem;
    .mixin-tiny-nav-slide;
  }
}

.curregion-top,.curregion-bottom{
  .nav-bar{
    @blob-bar-scale: .4;

    cursor:pointer;
    .nav-bar-slide{
      background: @blob-bar-background;
      background-size: auto 100%;
      height: calc(@blob-bar-scale * @blob-bar-height);
      width: calc(@blob-bar-scale * 7 * @blob-bar-width);

      @keyframes tiny-slideleft {
        from {
          left: 0px;
        }
        to {
          left: calc(@blob-bar-scale * -@blob-bar-width);
        }
      }

      &.mod-top{
        top: calc(@blob-bar-scale * -@blob-bar-offset);
        animation-name: tiny-slideleft;
      }


      @keyframes tiny-slideright {
        from {
          left: calc(@blob-bar-scale * -@blob-bar-width);
        }
        to {
          left: 0px;
        }
      }

      &.mod-bottom{
        left: calc(@blob-bar-scale * -@blob-bar-width);
        bottom: calc(@blob-bar-scale * -@blob-bar-offset);

        animation-name: tiny-slideright;
      }
    }

    h2{
      display:inline-block;
      vertical-align:bottom;
    }

    .nav-bar-buttons{
      display:inline-block;
      vertical-align:bottom;
      margin-left:.5rem;
    }
    .nav-bar-button{
      width:2.5rem;
      height:2.5rem;
      margin:0 0 0 1rem;

      &.mod-linkedin{
        padding:.15rem;
        margin-top:-1rem;
      }
    }
  }
}





.mixin-tiny-nav-slide(){
  @blob-bar-scale: .4;

  .nav-bar-slide{
    background: @blob-bar-background;
    background-size: auto 100%;
    height: calc(@blob-bar-scale * @blob-bar-height);
    width: calc(@blob-bar-scale * 7 * @blob-bar-width);

    @keyframes tiny-slideleft {
      from {
        left: 0px;
      }
      to {
        left: calc(@blob-bar-scale * -@blob-bar-width);
      }
    }

    &.mod-top{
      top: calc(@blob-bar-scale * -@blob-bar-offset);
      animation-name: tiny-slideleft;
    }


    @keyframes tiny-slideright {
      from {
        left: calc(@blob-bar-scale * -@blob-bar-width);
      }
      to {
        left: 0px;
      }
    }

    &.mod-bottom{
      left: calc(@blob-bar-scale * -@blob-bar-width);
      bottom: calc(@blob-bar-scale * -@blob-bar-offset);

      animation-name: tiny-slideright;
    }
  }
}


/* when mobile, get a tiny nav all the time */
@media (max-width: @breakpoint-mobile) {
  .nav-bar{
    .mixin-tiny-nav-slide;
  }
}