@import "~themes/variables.less";

.scrollcover{
  position:absolute;
  height:100%;
  width:100%;

  z-index:@zindex-middle - 1;

  pointer-events:none;
  opacity:0;
  transition:opacity .5s;

  &.mod-active{
    pointer-events:all;
    opacity:1;
    transition:opacity .5s;
  }
}

.scrollcover-button-container{
  position:absolute;
  left:50%;
  transform:translateX(-50%);
}

.scrollcover-button{
  display:inline-block;

  padding:3rem;

  text-align:center;
  border-radius:@border-radius-large;
  background-color:@color-black;
  color:@color-white;
  transition: color .2s;

  cursor:pointer;
}

@scrollbutton-offset: 26rem;

#region-top{
  background-color:@color-white;
  [data-idx="top-0"]{
    padding-bottom:60rem;
  }

  .scrollcover{
    bottom:0rem;
    background-color:@color-blue;
    text-align:center;

    .scrollcover-button-container{
      bottom:@scrollbutton-offset;
    }

    .scrollcover-button{
      color:@color-blue;
      
      &:hover{
        color:@color-white;
        transition: color .2s;
      }
    }
  }
}



#region-middle{

}

.theme-blog{
  #region-bottom{
    background-color:@color-purple;
  }
}

#region-bottom{
  background-color:@color-blue-dark;

  .scrollcover{
    top:0;
    background-color:@color-purple;

    .scrollcover-button-container{
      top:@scrollbutton-offset;
    }
    .scrollcover-button{
      background-color: transparent;
      color:@color-black;
      margin:0rem 2rem;
      
      &.mod-active{
        background-color:@color-black;
        color:@color-purple;
      }

      &:hover{
        color:@color-white;
        transition: color .2s;
      }
    }
  }
}